<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd        
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-3.0.xsd    
    http://www.springframework.org/schema/data/mongo
    http://www.springframework.org/schema/data/mongo/spring-mongo.xsd"
	default-autowire="byName">

    <context:annotation-config />
	
	<!-- context -->
	<context:component-scan base-package="com.cognicap.*" name-generator="com.cognicap.site.util.WithoutTrailingImplBeanNameGenerator">
		<!-- Let codemy context scan the web package -->
		<context:exclude-filter type="regex" expression="com/cognicap/site/web/.*" />
	</context:component-scan>
    
	<!-- security -->
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsService" />
	</security:authentication-manager>
	<security:global-method-security jsr250-annotations="enabled" />
		
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject">
			<ref local="registrationNotifier" />
		</property>
		<property name="targetMethod" value="addObserver" />
		<property name="arguments">
			<list>
				<ref bean="registrationEmailNotification" />
			</list>
		</property>
	</bean>

	<bean id="registrationNotifier"
		class="com.cognicap.codemy.core.framework.notifications.RegistrationNotifier">
	</bean>

	<bean id="registrationEmailNotification"
		class="com.cognicap.codemy.core.framework.notifications.RegistrationEmailNotification">
		<property name="mailingConfiguration" ref="mailingConfiguration" />
	</bean>
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject">
			<ref local="ActivationNotifier" />
		</property>
		<property name="targetMethod" value="addObserver" />
		<property name="arguments">
			<list>
				<ref bean="ActivationEmailNotification" />
			</list>
		</property>
	</bean>

	<bean id="ActivationNotifier"
		class="com.cognicap.codemy.core.framework.activationNotifs.ActivationNotifier">
	</bean>

	<bean id="ActivationEmailNotification"
		class="com.cognicap.codemy.core.framework.activationNotifs.ActivationEmailNotification">
		<property name="mailingConfiguration" ref="mailingConfiguration" />
	</bean>
	<mongo:mongo id="mongo" host="localhost" port="27017" />
	<mongo:db-factory dbname="cognicap" />
	<mongo:mapping-converter base-package="com.cognicap.codemy.core.*.repository" id="converter" />
	<mongo:repositories base-package="com.cognicap.codemy.core.*.repository" />

	<!-- Define the MongoTemplate which handles connectivity with MongoDB -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg name="mongoConverter" ref="converter" />
		<property name="writeResultChecking" value="EXCEPTION" />
	</bean>

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="mailingConfiguration" class="com.cognicap.codemy.core.framework.MailingConfiguration">
		<property name="host" value="${mail.host}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="from" value="${mail.from}" />
		<property name="to" value="${mail.to}" />
		<property name="protocol" value="${mail.transport.protocol}" />
		<property name="auth" value="${mail.smtps.auth}" />
		<property name="port" value="${mail.smtps.port}" />
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:mail.properties</value>
			</list>
		</property>
	</bean>

	<!-- bean validation -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"
		p:validationMessageSource-ref="messageSource">
		<description>Enable the bean validation provider, and configure it to use the messageSource when resolving properties</description>
	</bean>

	<!-- localization -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
		p:fallbackToSystemLocale="false"
		p:useCodeAsDefaultMessage="true"
		p:defaultEncoding="UTF-8">
		<description>Base message source to handle internationalization</description>
		<property name="basenames">
			<list>
				<!-- main resources -->
				<value>classpath:localization/application</value>
				<value>classpath:localization/messages</value>
				<!-- default spring security messages -->
				<value>classpath:org/springframework/security/messages</value>
                <!-- our bean validation messages -->
				<value>classpath:ValidationMessages</value>
			</list>
		</property>
	</bean>		
</beans>
