<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	<http use-expressions="true">
		<!-- User -->
		<intercept-url pattern="/c/Registration*" access="isAuthenticated()" />
		<intercept-url pattern="/c/logout*" access="isAuthenticated()" />
		<intercept-url pattern="/c/config/**" access="isAuthenticated()" />
		<intercept-url pattern="/c/profile/**" access="isAuthenticated()" />
		<!-- Admin -->
		<intercept-url pattern="/c/domain/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/c/admin/**" access="hasRole('ROLE_ADMIN')" />
		<!-- Anonymous -->
		<intercept-url pattern="/**" access="permitAll()" />

		<form-login 
			login-page="/login/" 
			login-processing-url="/c/logincheck" 
			default-target-url="/" 
			always-use-default-target="false" 
			authentication-failure-url="/login/" />

		<logout
			logout-url="/c/logout" 
			logout-success-url="/" />

		<access-denied-handler 
			error-page="/c/login/accessdenied" />

		<remember-me user-service-ref="userDetailsService" />

		<anonymous />
		<http-basic />
	</http>
</beans:beans>