/**** BODY ****/
html,body {
    background: #dfdedf url(../img/headerBackgroundGray.png) repeat-x;
    text-align: center;
    margin: 0;
    padding: 0;
    font: normal 14px/ 18px arial, Verdana, helvetica, sans-serif;
    color: #E6E6E6;
}

#siteContainer {
    text-align: left;
    position: relative;
    width: 959px;
    padding: 0;
    margin: 0 auto;
}

/* _____HTML_ELEMENTS_____ */
html,body,div,p,ul,ol,li,img,h1,h2,h3,h4,h5,h6,form,fieldset {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
}

table thead td,table thead th {
    padding: 6px 5px;
}

table tbody tr td,table tfoot td {
    padding: 3px 5px;
}

a:active {
    border: 0;
}

a,a:link,a:active,a:visited {
    outline: none;
    text-decoration: underline;
    color: #609f32;
}

a:hover {
    outline: none;
    text-decoration: underline;
    color: #77c044;
}

img {
    border: 0;
    display: block;
}

form {
    margin: 0;
    padding: 0;
}

/**** HEADER ***/
#headerWrap {
    float: left;
    width: 959px;
    height: 670px;
    background: url(../img/cognicapBackgroundIE.jpg) no-repeat top right;
    margin: 0;
}
html>body #headerWrap {
    float: left;
    display: inline;
    width: 959px;
    height: 670px;
    background: url(../img/cognicapBackgroundIE.jpg) no-repeat top right;
    margin: 0;
}

#logo {
    float: left;
    display: inline;
    border: none;
}

#headerWrap .tagline {
    float: right;
    display: inline;
    margin: 15px 0 0 0;
    width: 950px;
}

#headerWrap .tagline h2 {
    font: normal 18px/ 30px Arial, Verdana, Helvetica, sans-serif;
    color: #ffff00;
}

#headerWrap .tagline h2 span.contact {
    font: normal 30px/ 30px Arial, Verdana, Helvetica, sans-serif;
    color: #ffff00;
}

/**** NAV ***/
#navWrap {
    float: right;
    display: inline;
    margin: -2px 0 0 0;
    width: 600px;
}

#navWrap ul {
    position: relative;
    z-index: 999;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

#navWrap ul li {
    position: relative;
    float: left;
    display: inline;
    margin: 5px 0 0 5px;
}

#navWrap ul li:hover,#navWrap ul li.currentPage {
    float: left;
    display: inline;
    margin: 5px 0 0 1px;
    padding: 0 0 0 4px;
}

#navWrap ul li a {
    float: left;
    display: inline;
    text-decoration: none;
    font: normal 16px/ 30px Arial, Verdana, Helvetica, sans-serif;
    color: #fff;
    padding: 0 0 10px 0;
    text-align: center;
}

#navWrap ul li a:hover {
    float: left;
    display: inline;
    color: #fff;
}

#navWrap ul li a.green {
    float: left;
    display: inline;
    text-decoration: none;
    font: normal 16px/ 30px Arial, Verdana, Helvetica, sans-serif;
    color: #b6e595;
}

#navWrap ul li a.green:hover {
    float: left;
    display: inline;
    color: #fff;
}

#navFeatures {
    width: 100px;
    height: 30px;
}

#navWrap ul li:hover a#navFeatures,#navFeatures :hover,#navFeatures.currentPage
{
    color: #009ddf
}

#navPricing {
    width: 100px;
    height: 30px;
}

#navWrap ul li:hover a#navPricing,#navPricing :hover,#navPricing.currentPage
{
    color: #009ddf
}

#navSupport {
    width: 100px;
    height: 30px;
}

#navWrap ul li:hover a#navSupport,#navSupport :hover,#navSupport.currentPage
{
    color: #009ddf;
}

#navAbout {
    width: 100px;
    height: 30px;
}

#navWrap ul li:hover a#navAbout,#navAbout :hover,#navAbout.currentPage {
    color: #009ddf;
}

#navBlog {
    width: 100px;
    height: 30px;
}

#navWrap ul li:hover a#navBlog,#navBlog :hover,#navBlog.currentPage {
    color: #009ddf;
}

#navSignup {
    width: 100px;
    height: 30px;
}

#navWrap ul li:hover a#navSignup,#navSignup :hover,#navSignup.green.currentPage
{
    color: #009ddf;
}

#navLogin {
    font: bold 20px/ 26px Arial, Helvetica, Verdana, sans-serif;
    width: 100px;
}

#navWrap ul li:hover a#navLogin,#navLogin :hover,#navLogin.green.currentPage
{
    font: bold 20px Arial, Helvetica, Verdana, sans-serif;
    color: #009ddf;
    height: 30px;
}

/**** SUB-NAV ***/
#navWrap ul ul {
    display: none;
    position: absolute;
    z-index: 999;
    top: 35px;
    left: -25px;
    background-color: #009ddf;
    padding: 0 20px 10px 0;
    margin: 0;
    -moz-opacity: .94;
    -ms-filter: "alpha(opacity=94)";
    opacity: 94;
    z-index: 200;
}
html>body #navWrap ul ul {
    z-index: 999;
    top: 37px;
    left: -25px;
}

* html #navWrap ul ul {
    background-color: #009ddf;
}

#navWrap #lastNav {
    left: 0px;
}

#navWrap ul ul li {
    padding: 0;
    clear: both;
    width: 183px;
}

#navWrap ul ul li.sub {
    padding: 0;
    clear: both;
    width: 183px;
}
html>body #navWrap ul ul li.sub {
    padding: 0;
    clear: both;
    width: 200px;
}

#navWrap ul ul li a {
    float: left;
    display: inline;
    clear: both;
    text-transform: none;
    border: none;
    text-align: left;
    text-decoration: none;
    font: normal 14px/ 26px Arial, Verdana, Helvetica, sans-serif;
    color: #fff !important;
    padding: 0 0 0 10px;
    margin: 0;
    position: relative;
}

* html #navWrap ul ul li a {
    margin-left: 0;
}

#navWrap ul ul li.sub a,#navWrap ul ul li.sub a:link,#navWrap ul ul li.sub a:active,#navWrap ul ul li.sub a:visited
{
    float: left;
    display: inline;
    clear: both;
    text-transform: none;
    border: none;
    text-decoration: none;
    background-color: #009ddf;
    font: normal 12px/ 26px Arial, Verdana, Helvetica, sans-serif !important;
    color: #fff !important;
    padding: 0 0 0 32px;
    margin: 0;
}

#navWrap ul ul li.active {
    background-color: #009ddf;
    color: #fff !important;
    width: 183px;
}

#navWrap ul ul li a:hover {
    background-color: #009ddf;
    color: #fff !important;
    width: 183px;
    margin: 10px;
    padding-right: 20px;
}

* html #navWrap ul ul li a.active,* html #navWrap ul ul li a:hover {
    width: 183px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#navWrap ul ul li.sub a:hover {
    background-color: #009ddf;
    color: #fff !important;
    padding: 0 0 0 32px;
    margin: 0;
}

#navWrap ul li.active ul {
    display: inline;
}

#navWrap ul li.active ul ul {
    display: none;
}

#navWrap ul li.active li.active ul {
    display: inline;
}

#navWrap ul li.active li.active ul ul {
    display: none;
}

#navWrap ul li.active li.active li.active ul {
    display: inline;
}

#navWrap ul ul ul {
    width: 183px;
    left: 178px;
    top: -10px;
}

#navWrap ul li.active ul {
    display: inline;
}

#navWrap ul li.active li a {
    width: 183px;
    background: none;
    color: #113f71;
}

#navWrap ul li.active li.active a {
    background: none;
    color: #fff;
}

#navWrap ul li.active li.parent {
    background: none;
}

#navWrap ul li.active li.parent:hover,#navWrap ul li.active li.both {
    background-color: #009ddf;
    color: #fff;
}

#navWrap ul li.active li.active li.parent {
    background: none;
}

#navWrap ul li.active li.active li.parent:hover,#navWrap ul li.active li.active li.both
{
    background-color: #009ddf;
    color: #fff;
}

#navWrap ul li.active li.active li.both a {
    color: #fff;
}

#navWrap ul li.active li.active li.active ul ul {
    display: none;
}

#navWrap ul li.active li.active li.active li.active ul {
    display: inline;
}

#slider {
    clear: both;
    overflow: hidden;
    position: relative;
    width: 969px;
    height: 375px;
    margin: 0;
}

#slider .slides {
    width: 6000px;
    position: absolute;
    height: 375px;
    float: left;
    margin: 15px 0 0 10px;
}

#slider .features {
    width: 969px;
    float: left;
}

#slider .mainCopy {
    position: relative;
    z-index: 1;
    float: left;
    display: inline;
    width: 370px;
    margin: 10px 60px 0 0;
}

#slider .mainCopy h3 {
    font: bold 20px/ 26px Arial, Helvetica, Verdana, sans-serif;
    color: #fff;
    margin: 5px 0 0 10px;
}

#slider .mainCopy p {
    font: normal 14px/ 20px Arial, Helvetica, Verdana, sans-serif;
    color: #fff;
    margin: 5px 0 0 10px;
}

#slider .mainCopy a {
    text-decoration: underline;
    font: bold 14px/ 20px Arial, Helvetica, Verdana, sans-serif;
    color: #b6e595;
}

#slider .mainCopy img {
    float: left;
    display: inline;
    margin: 0 0 5px 0;
}

.mainCopy .trialButton {
    float: left;
    display: inline;
    margin: 15px 0 0 8px;
    width: 167px;
    height: 41px;
    overflow: hidden;
}

.mainCopy .trialButton a {
    float: left;
    display: inline;
    margin: 0 50px 0 0;
}

.mainCopy .trialButton a:hover {
    float: left;
    display: inline;
    margin: -41px 10px 0 0;
}

.mainCopy .demoButton {
    float: left;
    display: inline;
    margin: 15px 0 0 8px;
    width: 167px;
    height: 41px;
    overflow: hidden;
}

.mainCopy .demoButton a {
    float: left;
    display: inline;
    margin: 0 10px 0 0;
}

.mainCopy .demoButton a:hover {
    float: left;
    display: inline;
    margin: -41px 10px 0 0;
}

/**** COBRAND ***/
#slider .clientPics {
    position: relative;
    z-index: 975;
    float: left;
    display: inline;
    width: 520px;
    margin: 20px 0 0 7px;
}

#slider .cobrandLogo {
    position: absolute;
    top: 85px;
    left: 20%;
    width: 240px;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px #333;
    float: left;
    display: inline;
    text-align: center;
    margin: 0;
    padding: 15px;
}

#slider .cobrandLogo img {
    margin: -10px auto 0 auto;
}

#slider .cobrandLogo p {
    font: normal 14px/ 22px Arial, Helvetica, Verdana, sans-serif;
    color: #666;
}

#photoBackground {
    position: absolute;
    top: 0;
    left: 427px;
    width: 542px;
    height: 388px;
}

#photoBackground img {
    position: relative;
    z-index: 2;
}

#sliderNav {
    clear: both;
    position: relative;
    z-index: 400;
    margin: -100px 0 0 50px;
    width: 350px;
    height: 120px;
}

#sliderNav .slide1 a {
    float: left;
    display: inline;
    margin: 0 0 0 0;
    width: 90px;
    height: 70px;
    background: url(../img/clientSliderNavLightBlue.png) no-repeat 0 0;
}

#sliderNav .slide1 a:hover,#sliderNav .slide1 a.active {
    height: 90px;
	background: url(../img/clientSliderNavLightBlue.png) no-repeat 0 -70px;
}

#sliderNav .slide2 a {
    float: left;
    display: inline;
    margin: 0 0 0 0;
    width: 90px;
    height: 70px;
    background: url(../img/clientSliderNavLightBlue.png) no-repeat -110px 0;
}

#sliderNav .slide2 a:hover,#sliderNav .slide2 a.active {
    height: 90px;
	background: url(../img/clientSliderNavLightBlue.png) no-repeat -110px -70px;
}

#sliderNav .slide3 a {
    float: left;
    display: inline;
    margin: 0 0 0 0;
    width: 90px;
    height: 70px;
    background: url(../img/clientSliderNavLightBlue.png) no-repeat -225px 0;
}

#sliderNav .slide3 a:hover,#sliderNav .slide3 a.active {
    height: 90px;
	background: url(../img/clientSliderNavLightBlue.png) no-repeat -225px  -70px;
}

/**** MAIN ***/
#mainWrap {
    position: relative;
    float: left;
    display: inline;
    width: 959px;
    margin: 0;
}

/**** MAIN IMDOMNOM ***/
#imageWrap {

}

/**** MAIN AREA ***/
#textWrap {
    float: left;
    display: inline;
    width: 959px;
    margin: 5px 0 0 0;
    padding: 0;
    background: none;
}

#textWrap h1 {
    font: normal 48px/ 52px Arial, Helvetica, Verdana, sans-serif;
    color: #226699;
    margin: 0 0 10px 0;
}

#textWrap h2 {
    clear: both;
    font: normal 24px/ 27px Arial, Helvetica, Verdana, sans-serif;
    color: #226da4;
    margin: 0 0 10px 0;
}

#textWrap h3 {
    font: normal 18px/ 24px Arial, Helvetica, Verdana, sans-serif;
    color: #333;
    margin: 0 0 15px 0;
}

#textWrap p {
    clear: left;
    font: normal 14px/ 22px Arial, Helvetica, Verdana, sans-serif;
    color: #666;
    margin: 0 0 15px 0;
}

#textWrap a {
    clear: left;
    font: normal 14px/ 22px Arial, Helvetica, Verdana, sans-serif;
    color: #609f32;
    margin: 0 0 15px 0;
}

#textWrap a:hover {
    clear: left;
    font: normal 14px/ 22px Arial, Helvetica, Verdana, sans-serif;
    color: #609f32;
    margin: 0 0 15px 0;
}

#textWrap ol li {
    margin: 0 0 10px 0;
}

#textWrap p.caption {
    clear: left;
    font: normal 11px/ 16px Arial, Helvetica, Verdana, sans-serif;
    color: #666;
    margin: 0 0 15px 0;
}

#textWrap p.note {
    font: normal 10px/ 14px Arial, Helvetica, Verdana, sans-serif;
    color: #666;
    padding: 10px 0 0 0;
}

#leftCover {
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 999;
}

#rightCover {
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 999;
}

* html #leftCover {
    position: absolute;
    top: 21px;
    left: 0;
    z-index: 999;
}

* html #rightCover {
    position: absolute;
    top: 21px;
    right: 0;
    z-index: 999;
}

#featureSet {
    overflow: hidden;
    float: left;
    display: inline;
    position: relative;
    width: 969px;
    height: 155px;
    margin: -227px 0 0px 0;
    padding: 16px 0 0 0;
}

html>body #featureSet {
    overflow: hidden;
    float: left;
    display: inline;
    position: relative;
    width: 969px;
    height: 155px;
    margin: -227px 0 0px 0;
    padding: 16px 0 0 0;
}


#featureSet .features {
    width: 6000px;
    position: absolute;
    height: 155px;
    margin: 0 0 0 19px;
}

#featureSet .product {
    width: 950px;
    float: left;
}

#featureSet .icon {
    float: left;
    display: inline;
    width: 174px;
    height: 155px;
    margin: 0;
}

#featureSet .featureCopy {
    float: left;
    display: inline;
    width: 750px;
}

#featureSet .featureCopy h2 {
    font: normal 18px/ 24px Arial, Helvetica, Verdana, sans-serif;
    color: #226699;
    margin: 10px 0 5px 0;
}

#featureSet .featureCopy h2 span {
    font: normal 18px/ 24px Arial, Helvetica, Verdana, sans-serif;
    color: #666;
    margin: 10px 0 0 0;
}

#featureSet .featureCopy p {
    font: normal 14px/ 18px Arial, Helvetica, Verdana, sans-serif;
    color: #666;
    margin: 0;
}

#featureSet .featureCopy a {
    color: #518629;
}

#featureSet .featureCopy a.arrowLink {
    float: left;
    display: inline;
    margin: 23px 0 0 0;
}

#featureIcons {
    position: absolute;
    margin: -230px 0 0px 0;
    top: 100px;
    right: 0;
    width: 538px;
    height: 68px;
}

* html #featureIcons {
    background: #FFFFFF;
    position: absolute;
    top: 108px;
    right: -2px;
    width: 538px;
    height: 68px;
}

#featureIcons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#featureIcons ul li {
    float: left;
    display: inline;
    margin: 0 40px 0 0;
}

#featureIcons ul li.feature1 a {
    float: left;
    display: inline;
    width: 29px;
    height: 68px;
    background: url(../img/cogni-services.png) no-repeat 0 0;
}

#featureIcons ul li.feature1 a:hover {
    background: url(../img/cogni-services.png) no-repeat 0 -68px;
}

#featureIcons ul li.feature1 a.active {
    background: url(../img/cogni-services.png) no-repeat 0 -136px;
}

#featureIcons ul li.feature2 a {
    float: left;
    display: inline;
    width: 51px;
    height: 68px;
    background: url(../img/cogni-services.png) no-repeat -107px 0;
}

#featureIcons ul li.feature2 a:hover {
    background: url(../img/cogni-services.png) no-repeat -107px -68px;
}

#featureIcons ul li.feature2 a.active {
    background: url(../img/cogni-services.png) no-repeat -107px -136px;
}

#featureIcons ul li.feature3 a {
    float: left;
    display: inline;
    width: 38px;
    height: 68px;
    background: url(../img/cogni-services.png) no-repeat -158px 0;
}

#featureIcons ul li.feature3 a:hover {
    background: url(../img/cogni-services.png) no-repeat -158px -68px;
}

#featureIcons ul li.feature3 a.active {
    background: url(../img/cogni-services.png) no-repeat -158px -136px;
}

#featureIcons ul li.feature4 a {
    float: left;
    display: inline;
    width: 39px;
    height: 68px;
    background: url(../img/cogni-services.png) no-repeat -237px 0;
}

#featureIcons ul li.feature4 a:hover {
    background: url(../img/cogni-services.png) no-repeat -237px -68px;
}

#featureIcons ul li.feature4 a.active {
    background: url(../img/cogni-services.png) no-repeat -237px -136px;
}

#featureIcons ul li.feature5 a {
    float: left;
    display: inline;
    width: 30px;
    height: 68px;
    background: url(../img/cogni-services.png) no-repeat -317px 0;
}

#featureIcons ul li.feature5 a:hover {
    background: url(../img/cogni-services.png) no-repeat -317px -68px;
}

#featureIcons ul li.feature5 a.active {
    background: url(../img/cogni-services.png) no-repeat -317px -136px;
}

#featureIcons ul li.feature6 a {
    float: left;
    display: inline;
    width: 39px;
    height: 68px;
    background: url(../img/cogni-services.png) no-repeat -387px 0;
}

#featureIcons ul li.feature6 a:hover {
    background: url(../img/cogni-services.png) no-repeat -387px -68px;
}

#featureIcons ul li.feature6 a.active {
    background: url(../img/cogni-services.png) no-repeat -387px -136px;
}

#videos {
    clear: both;
    float: left;
    display: inline;
    width: 490px;
    margin: 25px 0 0 35px;
}

#videos .videoSpotlight {
    width: 470px;
    height: 78px;
    background: url(../img/homeSprite.gif) no-repeat 0 -694px;
    padding: 15px 0 0 20px;
    margin: 0 0 10px 0;
}

.videoSpotlight .info {
    float: left;
    display: inline;
    width: 240px;
    margin: 0 15px 0 0;
}

.videoSpotlight .info h4 {
    font: normal 18px/ 22px Arial, Helvetica, Verdana, sans-serif;
    color: #333;
    margin: 0 0 5px 0;
}

.videoSpotlight .info p {
    font: normal 12px/ 18px Arial, Helvetica, Verdana, sans-serif !important
        ;
    color: #666;
}

.videoSpotlight .videoThumb {
    float: left;
    display: inline;
    width: 192px;
}

.videoButtons {
    width: 490px;
    height: 70px;
    background: url(../img/homeSprite.gif) no-repeat 0 -794px;
    padding: 13px 0 0 0;
    text-align: center;
    vertical-align: middle;
}

.videoButtons p {
    font: normal 12px/ 18px Arial, Helvetica, Verdana, sans-serif !important
        ;
    color: #666;
    margin: 0;
    padding: 0;
}

.videoButtons ul {
    list-style-type: none;
    margin: -10px 0 0 47px;
    padding: 0;
}

.videoButtons ul li {
    float: left;
    display: inline;
    margin: 0 10px 0 0;
    width: 124px;
    height: 28px;
}

#clients {
    float: left;
    display: inline;
    width: 362px;
    margin: 25px 0 0 45px;
}

#clients p {
    font: normal 12px/ 18px Arial, Helvetica, Verdana, sans-serif !important
        ;
    color: #666;
    margin: 5px 0 30px 0;
    padding: 0;
}

#textWrap .block {
    float: left;
    display: inline;
    width: 100%;
    background: #eaf1f6;
    width: 775px;
    margin: 15px 0 20px 53px;
    padding: 20px 20px 5px 20px;
}

#textWrap .block p {
    font: normal 14px/ 22px Arial, Helvetica, Verdana, sans-serif;
    color: #226699;
}

/**** FOOTER ***/
#footerWrap {
    clear: both;
    float: left;
    display: inline;
    width: 100%;
    height: 100%;
    background: #dfdedf url(../img/footerBackgroundGrayShort.png) repeat-x;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0;
}
html>body #footerWrap {
    display: inline;
    width: 100%;
    height: 180px;
}
#footerWrap p.copyright {
    clear: both;
    margin: 60px 0 0 0;
    padding: 0px 0 0 0;
    font: normal 12px/ 24px Arial, verdana, helvetica, sans-serif;
    color: #666;
}
html>body #footerWrap p.copyright {
    margin: 180px 0 0 0;
}

#footerWrap p.copyright a link {
    color: #dfdedf;
}

.footerContent {
    margin: 0 auto auto auto;
    text-align: left;
    width: 889px;
}

.footerContent .customerAccess {
    float: left;
    display: inline;
    width: 160px;
    margin: 0 32px 0 14px;
    padding: 15px 0 60px 0;
}

.footerContent .customerAccess h2 {
    font: bold 16px/ 20px Arial, Verdana, Helvetica, sans-serif;
    color: #091e4d;
    margin: 0 0 10px 0;
}

.footerContent .customerAccess img {
    margin: 0 0 10px 0;
}

.footerContent .footerLinks {
    float: left;
    display: inline;
    width: 200px;
    margin: 0 30px 0 0;
    padding: 15px 0 0 0;
}

.footerContent .footerLinks h2 {
    text-decoration: none;
    font: bold 16px/ 20px Arial, Verdana, Helvetica, sans-serif;
    color: #091e4d;
    margin: 0 0 10px 0;
}

.footerContent .footerLinks ul {
    width: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerContent .footerLinks ul li {
    width: 200px;
    float: left;
    display: inline;
    clear: both;
}

.footerContent .footerLinks ul li a,.footerContent .footerLinks ul li a:link,.footerContent .footerLinks ul li a:active,.footerContent .footerLinks ul li a:visited
{
    width: 255px;
    text-decoration: none;
    float: left;
    display: inline;
    font: normal 12px/ 18px Arial, Verdana, Helvetica, sans-serif;
    color: #ffffff;
    border-bottom: 1px solid #aaa;
    padding: 0 0 2px 0;
    margin: 0 0 2px 0;
}

.footerContent .footerLinks ul li a:hover {
    text-decoration: none;
    float: left;
    display: inline;
    width: 200px;
    font: normal 11px/ 18px Arial, Verdana, Helvetica, sans-serif;
    color: #97be0d;
    border-bottom: 1px solid #aaa;
    padding: 0 0 2px 0;
    margin: 0 0 2px 0;
}

/**** FOOTER OTHER PDOMNOM***/
#footerOtherWrap {
    clear: both;
    float: left;
    display: inline;
    width: 100%;
    height: 6px;
    background: #dfdedf url(../img/footerBackgroundGrayShort.png) repeat-x;
    text-align: center;
    margin: 0px 0 0 0;
    padding: 0;
}

#footerOtherWrap p.copyright {
    padding: 0px 0 0 0;
    font: normal 12px/ 24px Arial, verdana, helvetica, sans-serif;
    color: #666;
}
html>body #footerOtherWrap p.copyright {
    clear: both;
    margin: 10px 0 0 0;
    padding: 0px 0 0 0;
}

#footerOtherWrap p.copyright a link {
    color: #dfdedf;
}

/**** LIGHTBOX ***/ /*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox,#cboxOverlay,#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft,#cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
    overflow: hidden;
}

#cboxLoadedContent {
    overflow: auto;
}

#cboxLoadedContent iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay,#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
    cursor: pointer;
}

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay {
    background: url(../img/overlay.png) 0 0 repeat;
}

#colorbox {

}

#cboxTopLeft {
    width: 21px;
    height: 21px;
    background: url(../img/controls.png) -100px 0 no-repeat;
}

#cboxTopRight {
    width: 21px;
    height: 21px;
    background: url(../img/controls.png) -129px 0 no-repeat;
}

#cboxBottomLeft {
    width: 21px;
    height: 21px;
    background: url(../img/controls.png) -100px -29px no-repeat;
}

#cboxBottomRight {
    width: 21px;
    height: 21px;
    background: url(../img/controls.png) -129px -29px no-repeat;
}

#cboxMiddleLeft {
    width: 21px;
    background: url(../img/controls.png) left top repeat-y;
}

#cboxMiddleRight {
    width: 21px;
    background: url(../img/controls.png) right top repeat-y;
}

#cboxTopCenter {
    height: 21px;
    background: url(../img/border.png) 0 0 repeat-x;
}

#cboxBottomCenter {
    height: 21px;
    background: url(../img/border.png) 0 -29px repeat-x;
}

#cboxContent {
    background: #fff;
}

#cboxLoadedContent {
    margin-bottom: 28px;
}

#cboxTitle {
    position: absolute;
    bottom: 3px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #226699;
}

#cboxCurrent {
    position: absolute;
    bottom: 3px;
    left: 58px;
    color: #949494;
}

#cboxSlideshow {
    position: absolute;
    bottom: 3px;
    right: 30px;
    color: #0092ef;
}

#cboxPrevious {
    position: absolute;
    bottom: 0;
    left: 0px;
    background: url(../img/controls.png) -75px 0px no-repeat;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}

#cboxPrevious.hover {
    background-position: -75px -25px;
}

#cboxNext {
    position: absolute;
    bottom: 0;
    left: 27px;
    background: url(../img/controls.png) -50px 0px no-repeat;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}

#cboxNext.hover {
    background-position: -50px -25px;
}

#cboxLoadingOverlay {

}

#cboxLoadingGraphic {

}

#cboxClose {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/controls.png) -25px 0px no-repeat;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}

#cboxClose.hover {
    background-position: -25px -25px;
}

#pixelFrame {
    position: absolute;
    bottom: 100%;
    left: 0;
}
.body-page {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    height: 250px;
    padding: -2px -2px;
    margin: 56px 2px;
}
html>body .body-page {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    height: 300px;
    padding: -2px -2px;
    margin: 106px 2px;
}

.content-wrapper {
    float: right;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #FFFFFF none repeat scroll 0 0;
    width: 953px;
    height: 524px;
    margin: 1px -1px;
}
html>body .content-wrapper {
    float: right;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #FFFFFF none repeat scroll 0 0;
    width: 953px;
    height: 524px;
    margin: 1px -1px;
}

.clear {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.landing-page-menu {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #565656 none repeat scroll 0 0;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 5px 5px;
    margin: 5px -1px;
}

.landing-page-menu {
    background: #009ddf;
    color: #fff;
    height: 30px;
    padding: 10px 20px;
    margin-bottom: 0px;
}

.landing-page-menu ul {
    padding: 0;
    margin: 0;
}

.landing-page-menu ul li {
    display: block;
    float: left;
    width: 200px;
    right: 0px;
}

.landing-page-menu ul li a {
    display: block;
    padding: 5px 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
}

.landing-page-menu img {
    width: 20px;
    height: 20px;
}

.landing-page-menu ul li a:hover {
    text-decoration: underline;
}

.page-title {
    width: 950px;
    height: 30px;
    color: #fff;
    margin: 0 -10px 0 0;
    padding: 5px 5px;
    font-size: 161.6%;
}
html>body .page-title {
    color: #fff;
    font-size: 161.6%;
    height: 30px;
    padding: 5px;
}

.rounded {
    border: 0px solid #ddd;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.content {
    color: #474a4b;
    width: 100%;
    margin: 0px 0px;
}

#content img {
    vertical-align: middle;
}

.icon-cours {
    float: left;
    height: 25px;
    margin-right: 10px;
    width: 25px;
}

table.calendrier-classes {
    border: 1px solid #ccc;
}

table.calendrier-classes thead tr {
    background-color: #CCCFFF;
    border: 1px solid #ccc;
}
table.calendrier-classes thead th {
    background-color: #CCCFFF;
    border: 1px solid #ccc;
}
table.calendrier-classes tbody td.nom-du-cours {
    border-right: 1px solid #ccc;
    border: 1px solid #ccc;
    color: #474a4b;
}
table.calendrier-classes tbody td.nom-du-cours a {
    color: #006ec0;	
}
table.calendrier-classes tbody td.not-scheduled {
    border: 1px solid #ccc;
    text-align: center;
}

table.calendrier-classes tbody td.scheduled {
    background-color: #0f65a0;
    text-align: center;
    font-size: 85%;
    border: 1px solid #ccc;
    color:#FFFFFF;
}

table.calendrier-classes tbody td.scheduled a {
    background-color: #0f65a0;
    text-decoration: none;
    letter-spacing: -1px;
    color:#FFFFFF;
}

table.calendrier-classes tbody td a.confirmed {
    font-weight: bold;
}

table.calendrier-classes tbody td a.not-confirmed {
    font-weight: normal;
}


table.description_cours {
}

table.description_cours thead tr  {
}
table.description_cours thead th {
}
table.description_cours tbody td section-titre  {
    background-color: #FFF;
}
table.description_cours tbody td description_cours {
    font: bold;
    color: #474a4b;
}
.description_cours{
    font: bold;
    color: #474a4b;
}
.detail-cours {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    color: teal;
    background-color: #CCCFFF;
}
.entreeformulairegauche {
    margin-left: 10px;
    padding: 1px 1px;
    color: #738aac;
}
.entetechamp  {
    margin-left: 10px;
    padding: 2px 2px;
    color: #738aac;
}
.fields {
    margin-left: 10px;
    padding: 1px 1px;
    color: #738aac;
}
.forumlaire-bloc-g{
    margin: 0 0 0 0;
}
.forumlaire-bloc-d{
    margin: -355px 0 0 450px;
}
.inscription-bloc-g{
    margin: 0 0 0 0;
}
.inscription-bloc-d{
    margin: -200px 0 0 450px;
}
.sectionEnvoyer{
    float: left;
    display: inline;
    margin: 115px 0 0 20px;
}
.sectionEnvoyerReservation{
    float: left;
    display: inline;
    margin: 80px 0 0 20px;
}
.requiredstar{
    color: red;
}
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }

.centeredImage
 {
 	position: relative;
 	padding: 10px 20px;
 	text-align:center;
	display: inline;
    vertical-align: middle;
}
